.footer {
	background-color: $main-color; 
	padding: 1em; 
	color: white; 
}

.footer-content {
	align-items: center; 
	.heading {
		@include mobile-only {
			text-align: left; 
		}
	}
	ul {
		display: flex;
		justify-content: space-around;
		list-style: none; 
		li a {
			color: white; 
		}
		@include mobile-only {
			display: block; 
			padding: 0;
			line-height: 3;
		}
	}
}

.copyright {
	text-align: center;
	font-weight: bold; 
	font-style: italic;
}