.form-container {
	display: flex;
	justify-content: center;
	form {
		width: 90%;
		max-width: 620px;
		display:flex;
		flex-direction: column;
		.label {
			margin-left: 12px; 
		}
		.input {
			width: 100%;
			border: none;
			border-radius: 25px;
			padding: 6px;
			margin: 2px; 
			&:focus {
				outline: none; 
				border: 2px solid $main-color; 
				margin:0; 
			}
		}
		.email-invalid-border {
			border: 2px solid red; 
		}
		.email-invalid {
			color: red; 
			font-style: italic; 
			position: absolute; 
		}
		.submit {
			align-self: flex-end; 
		}
		.feedback-submit {
			color: #b3b3b3;
			font-style: italic;
			font-size: 12px;
			text-align: center; 
		}
	}
}