.products-list {
	display: flex;
	flex-wrap:wrap; 
	justify-content: center;
	a {
		@include product-name; 
		text-decoration: none; 
		@include transition-effect; 
		&:hover .product-card__image {
			transform: translate(-8px, -8px);
			box-shadow: 6px 6px 12px rgba(0,0,0,0.25);
		}
	}
}

.product-card {
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	width: 300px; 
	background-color: $secondary-color; 
	margin: calc(1em + 12px) 1em 1em calc(1em + 24px);	
	@include transition-effect; 
	&__image {
		@include transition-effect; 
		height: 220px; 
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;
		left: -24px;
		top: -24px;
		margin-bottom: -32px;
		border-top: solid 6px $main-color; 
		border-left: solid 6px $main-color; 
		img {
			width: auto;
			height: 100%;
		}
	}
}


.product-name {
	@include product-name; 
}