body {
	background-color: $bg-color; 
	font-family: 'Lato', sans-serif; 
}

::selection {
	background-color: $main-color; 
	color: white; 
}

.heading {
	font-family: 'Karla', sans-serif;
	font-weight: bold;
	text-align: center; 
}

.single-paragraphe-page {
	margin: 30vh; 
	font-style: italic;
	text-align: center; 
}

