.cart-table-container {
	display: flex; 
	justify-content: center; 
	align-items: center;
	flex-direction: column;
}

.soft-shape {
	border-radius: 24px; 
	padding: 2em; 
}

.no-products-message {
	font-style: italic; 
}