.product-container {
	display: flex; 
	flex-wrap:wrap;
	&__image { 
		width: 400px;
		height: 400px; 
		overflow: hidden;
		display: flex; 
		justify-content: center; 
		align-items: center;
		position: relative; 
		top: -2em; 
		left: -2em; 
		@include image-shadow; 
		@include image-border; 
		img {
			height: 100%; 
			width: auto;
		}
	}
	&__texts {
		width: calc(100% - 406px); 
	}
	&__name {
		font-size: 3em; 
	}
	&__custom-form {
		label {
			font-style: italic; 
		}
		select {
			border-radius: 24px;
			border: none;
			background-color: $bg-color; 
			width: 33%;
			height: 28px;
			option {
				background-color: $bg-color; 
				&:hover {
					background-color: $main-color;
				}
			}
		}
	}
	&__price-container {
		display: flex; 
		justify-content: flex-end;
		align-items: center; 
		margin-right: 1em; 
		.price-integer {
			font-size: 240%; 
			font-weight: 300; 
		}
	}
	&__add-cart {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

