/* PALETTE DE COULEURS */ 
$main-color: #8F5BFE; 
$secondary-color: #d58138; 
$bg-color: #f3e9F1; 



@mixin transition-effect {
	transition: all 350ms ease; 
}

@mixin product-name {
	color: black; 
	text-shadow: 1px 1px 0 white; 
}