/* PALETTE DE COULEURS */ 
$main-color: #8F5BFE; 
$darker-main-color: darken($main-color, 10%); 
//$secondary-color: #d58138; 
$secondary-color: #fcd5ce; 
$bg-color: #f3e9F1; 



@mixin transition-effect {
	transition: all 350ms ease; 
}

@mixin product-name {
	color: black; 
	text-shadow: 1px 1px 0 white; 
}

@mixin image-shadow {
	box-shadow: 6px 6px 12px rgba(0,0,0,0.25);
}

@mixin image-border {
	border-top: solid 6px $main-color; 
	border-left: solid 6px $main-color; 
}